#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

select {
  border: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login >* {
  width: 100%;
}

.linkBtnNavigate {
  width: 300px;
}

.form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form >* {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.pass {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* .pass > input { */
input {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.error {
  width: 90%;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: 210px;
  background-color: rgb(138, 0, 0);
  opacity: 0.5;
}

.store, .basket {
  width: 100%;
  height: 100vw;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav {
  width: initial;
  height: initial;
  padding: 10px;
}

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.containerColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.card {
  width: 300px;
  padding: 10px;
  background-color: rgb(57, 57, 57);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card >* {
  width: 100%;
  text-align: start;
}

.cardSmall {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: rgb(57, 57, 57);
  border-radius: 10px;
}

.order {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgb(21, 21, 21);
  border-radius: 10px;
}

.card .img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.formAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.formAddGoods {
  position: absolute;
  top: 60px;
  right: 0; 
  background-color: #151515;
  padding: 5px;
  border-radius: 10px;
}

.controls, .controllers, .goodsList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  color: rgb(204, 0, 0);
}

.imgSmall {
  width: 100px;
  height: 100px;
} 

.section > h1  {
  margin-bottom: 20px;
}

.basketItem {
  position: relative;
  width: 400px;
  padding: 10px;
  background-color: rgb(57, 57, 57);
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

.sectionOrder {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 10px;
  background-color: rgb(57, 57, 57);
  border-radius: 20px;
}

.basketImg {
  width: 150px;
  height: 150px;
}

.basketInfo {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.controlItem {
  position: absolute;
  width: 93%;
  bottom: 6px;
  left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check {
  max-width: 25px;
  height: 25px;
} 

.controlsOrder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
